.banner {
    background-image: url(../../assets/images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
}

.banner img {
    width: 50%;
}